WebContent/WEB-INF/services/V2_Sandbox_ConsumeAvailNomConfService/META-INF/V2_Sandbox_ConsumeAvailNomConfService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://pas.cdsa.ng.org/PAS/Avail_Nom_Confirmation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://pas.cdsa.ng.org/Avail_Nom_Confirmation" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:WL5G3N2="http://pas.cdsa.ng.org/PAS/Avail_Nom_Confirmation" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://pas.cdsa.ng.org/Avail_Nom_Confirmation" xmlns="http://pas.cdsa.ng.org/Avail_Nom_Confirmation" xmlns:com="http://nationalgrid.co.uk/eso/cdsa/common" xmlns:inp1="http://pas.cdsa.ng.org/Avail_Nom_Confirmation" xmlns:tns="http://pas.cdsa.ng.org/PAS/Avail_Nom_Confirmation" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:simpleType name="ServiceTypeType">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="OPT_FAST_RESERVE"/>
               <xsd:enumeration value="PP_REACTIVE"/>
               <xsd:enumeration value="STOR_FLEXIBLE"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="ConfirmationType">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="ACCEPTED"/>
               <xsd:enumeration value="REJECTED"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="ReasonType">
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="0"/>
               <xsd:maxLength value="200"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="ContractIDType">
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="1"/>
               <xsd:maxLength value="20"/>
               <xsd:pattern value="[^\s]+"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="NUIType">
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="0"/>
               <xsd:maxLength value="20"/>
               <xsd:pattern value="[^\s]+"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="AUIType">
            <xsd:restriction base="xsd:string">
               <xsd:minLength value="0"/>
               <xsd:maxLength value="20"/>
               <xsd:pattern value="[^\s]+"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:element name="Avail_Nom_ConfirmationRequest" type="Avail_Nom_ConfirmationerviceType"/>
         <xsd:complexType name="Avail_Nom_ConfirmationerviceType">
            <xsd:sequence>
               <xsd:element name="Avail_Nom_ConfirmationDetails" type="Avail_Nom_ConfirmationReqServiceType"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="Avail_Nom_ConfirmationReqServiceType">
            <xsd:sequence>
               <xsd:element name="ServiceType" type="ServiceTypeType"/>
               <xsd:element name="ContractID" type="ContractIDType"/>
               <xsd:element minOccurs="0" name="AUI" type="AUIType"/>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="AvailabilityWindow" type="AvailabilityWindowType"/>
               <xsd:element minOccurs="0" name="FileReason" type="ReasonType"/>
               <xsd:element name="DateTimeStamp" type="xsd:dateTime"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="AvailabilityWindowType">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="NUI" type="NUIType"/>
               <xsd:element minOccurs="0" name="StartDateTime" type="xsd:dateTime"/>
               <xsd:element minOccurs="0" name="EndDateTime" type="xsd:dateTime"/>
               <xsd:element minOccurs="0" name="Confirmation" type="ConfirmationType"/>
               <xsd:element minOccurs="0" name="Reason" type="ReasonType"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="Avail_Nom_ConfirmationResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Response"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="Response" type="Resonsetype"/>
         <xsd:complexType name="Resonsetype">
            <xsd:sequence>
               <xsd:element name="Response" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="fault" type="faulttype"/>
         <xsd:complexType name="faulttype">
            <xsd:sequence>
               <xsd:element name="fault" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Avail_NomConffault">
    <wsdl:part name="fault" element="WL5G3N1:fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestMessage">
    <wsdl:part name="Avail_Nom_Confirmation_Request" element="WL5G3N1:Avail_Nom_ConfirmationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="replyMessage">
    <wsdl:part name="Response" element="WL5G3N1:Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="V2_Sandbox_ConsumeAvailNomConfServicePortType">
    <wsdl:operation name="AvailNomConfirmation">
      <wsdl:input message="WL5G3N2:requestMessage" wsaw:Action="AvailNomConfirmation">
    </wsdl:input>
      <wsdl:output message="WL5G3N2:replyMessage" wsaw:Action="http://pas.cdsa.ng.org/PAS/Avail_Nom_Confirmation/Avail_Nom_Conf/AvailNomConfirmationResponse">
    </wsdl:output>
      <wsdl:fault name="Avail_NomConffault" message="WL5G3N2:Avail_NomConffault" wsaw:Action="http://pas.cdsa.ng.org/PAS/Avail_Nom_Confirmation/Avail_Nom_Conf/AvailNomConfirmation/Fault/Avail_NomConffault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="V2_Sandbox_ConsumeAvailNomConfServiceSoap11Binding" type="WL5G3N2:V2_Sandbox_ConsumeAvailNomConfServicePortType">
    <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AvailNomConfirmation">
      <WL5G3N3:operation soapAction="AvailNomConfirmation" style="document"/>
      <wsdl:input>
        <WL5G3N3:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <WL5G3N3:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Avail_NomConffault">
        <WL5G3N3:fault name="Avail_NomConffault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="V2_Sandbox_ConsumeAvailNomConfServiceHttpBinding" type="WL5G3N2:V2_Sandbox_ConsumeAvailNomConfServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="AvailNomConfirmation">
      <http:operation location="AvailNomConfirmation"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="V2_Sandbox_ConsumeAvailNomConfServiceSoap12Binding" type="WL5G3N2:V2_Sandbox_ConsumeAvailNomConfServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AvailNomConfirmation">
      <soap12:operation soapAction="AvailNomConfirmation" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Avail_NomConffault">
        <soap12:fault name="Avail_NomConffault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="V2_Sandbox_ConsumeAvailNomConfService">
    <wsdl:port name="V2_Sandbox_ConsumeAvailNomConfServiceHttpSoap12Endpoint" binding="WL5G3N2:V2_Sandbox_ConsumeAvailNomConfServiceSoap12Binding">
      <soap12:address location="https://test.pas.nationalgrid.com/services/V2_Sandbox_ConsumeAvailNomConfService.V2_Sandbox_ConsumeAvailNomConfServiceHttpSoap12Endpoint"/>
    </wsdl:port>
    <wsdl:port name="V2_Sandbox_ConsumeAvailNomConfServiceHttpSoap11Endpoint" binding="WL5G3N2:V2_Sandbox_ConsumeAvailNomConfServiceSoap11Binding">
      <WL5G3N3:address location="https://test.pas.nationalgrid.com/services/V2_Sandbox_ConsumeAvailNomConfService.V2_Sandbox_ConsumeAvailNomConfServiceHttpSoap11Endpoint"/>
    </wsdl:port>
    <wsdl:port name="V2_Sandbox_ConsumeAvailNomConfServiceHttpEndpoint" binding="WL5G3N2:V2_Sandbox_ConsumeAvailNomConfServiceHttpBinding">
      <http:address location="https://test.pas.nationalgrid.com/services/V2_Sandbox_ConsumeAvailNomConfService.V2_Sandbox_ConsumeAvailNomConfServiceHttpEndpoint"/>
    </wsdl:port>
    <wsdl:port name="V2_Sandbox_ConsumeAvailNomConfServiceHttpsEndpoint" binding="WL5G3N2:V2_Sandbox_ConsumeAvailNomConfServiceHttpBinding">
      <http:address location="https://test.pas.nationalgrid.com/services/V2_Sandbox_ConsumeAvailNomConfService.V2_Sandbox_ConsumeAvailNomConfServiceHttpsEndpoint"/>
    </wsdl:port>
    <wsdl:port name="V2_Sandbox_ConsumeAvailNomConfServiceHttpsSoap11Endpoint" binding="WL5G3N2:V2_Sandbox_ConsumeAvailNomConfServiceSoap11Binding">
      <WL5G3N3:address location="https://test.pas.nationalgrid.com/services/V2_Sandbox_ConsumeAvailNomConfService.V2_Sandbox_ConsumeAvailNomConfServiceHttpsSoap11Endpoint"/>
    </wsdl:port>
    <wsdl:port name="V2_Sandbox_ConsumeAvailNomConfServiceHttpsSoap12Endpoint" binding="WL5G3N2:V2_Sandbox_ConsumeAvailNomConfServiceSoap12Binding">
      <soap12:address location="https://test.pas.nationalgrid.com/services/V2_Sandbox_ConsumeAvailNomConfService.V2_Sandbox_ConsumeAvailNomConfServiceHttpsSoap12Endpoint"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
